body {
  padding: 10px 20px 0px 20px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui;
  color: #333333;
}

.inner {
  max-width: 800px;
  width: 100%;
}

.example {
  display: flex;
  flex-wrap: wrap;
}

.exampleText {
  margin-bottom: 10px;
}

.exampleCode,
.exampleOutput {
  width: 100%;
}

.next {
  margin-top: 10px;
  width: 100%;
  text-align: right;
}

p {
  margin-block-start: 0.3em;
  margin-block-end: 0.5em;
  line-height: 1.4;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
  margin-block-end: 0.5em;
}
