.container {
  width: 100%;
  display: flex;
  justify-content: center;
  color: #222222;
  font-family: system-ui;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 440px;
  align-items: flex-start;
  justify-content: center;
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  font-size: 17px;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}
